<nav class="nav-menu">
    <h3>MiniEditore</h3>
    <a href="/">Dashboard</a>
    <a href="/libri">Libri</a>
    <a href="/autori">Autori</a>
    <a href="/collane">Collane</a>
    <a href="/clienti">Clienti</a>
    <a href="/documenti">Documenti</a>
    <a href="/report/vendite">Report vendite</a>
</nav>
